@charset "UTF-8";
/* CSS Document */

body {

    margin:0;

}

.container {

    width:800px;
    margin-left:auto;
    margin-right:auto;
    display:block;
    padding-top:40px;

}

.left {

    float:left;
    display:block;
}

#btn_work {

    padding-left:150px;
    visibility:hidden;

}

#btn_store {

    padding-left:150px;
    padding-bottom:50px;
    visibility:hidden;



}

#lebonstore {

    padding-left:150px;

}

#click_img{

    margin-top:-45px;
    display:block;
}

.title_site {

    float:left;
    text-align:center;
    margin-left:25%;
    margin-top:60px;

}

.visible {

    visibility:visible !important;

}
